.advert_image {
  width: 100%;
  height: 255px;
  display: flex;
  justify-content: center;

  .advert_position {
    width: 100%;
    height: 255px;
    display: flex;
    justify-content: center;
  }
}
